{% extends "base.html" %}

{% block title %}Búsqueda de propiedades{% endblock %}

{% block navbar_custom_styles %}
<style>
    .navbar {
        height: 250px;
        /* Cambiar la altura solo en esta página */
    }
</style>
{% endblock %}

{% block content %}

<div class="result-list mt-4">
    {% if resultados %}
    <div class="row row-cols-1 g-4"> <!-- Solo una tarjeta por fila -->
        {% for resultado in resultados %}
        <div class="col mb-4"> <!-- La tarjeta ocupa toda la fila -->
            <a href="{% url 'mostrar_propiedad' resultado.propiedad.id %}" class="text-decoration-none text-dark">
                <div class="card">
                    <!-- Imagen de la propiedad arriba -->
                    {% if resultado.propiedad.imagenes.first.imagen.url %}
                    <img src="{{ resultado.propiedad.imagenes.first.imagen.url }}" class="card-img-top"
                        alt="{{ resultado.propiedad.titulo }}" style="height: 300px; object-fit: cover;">
                    {% endif %}

                    <div class="card-body">
                        <!-- Contenido de la tarjeta (título, descripción, etc.) -->
                        <h4 class="card-title">{{ resultado.propiedad.titulo }}</h4>
                        <p class="card-text text-muted" style="font-size: 1rem;">
                            <i class="fas fa-map-marker-alt me-2"></i>{{ resultado.propiedad.ubicacion }}
                        </p>
                        <p class="card-text text-muted" style="font-size: 1rem;">
                            <i class="fas fa-money-bill me-2"></i>{{ resultado.propiedad.precio_por_noche }} €/noche
                        </p>
                    </div>

                    <div class="position-absolute top-0 end-0 m-3">
                        <span class="badge rounded-pill bg-warning text-dark fs-6 px-3 py-2">
                            {{ resultado.dias_disponibles }} días disponibles
                        </span>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <p class="text-danger">No se encontraron resultados.</p>
    {% endif %}
</div>

<div class="container mt-4">
    <div class="row">
        <!-- Columna izquierda para el botón y filtros -->
        <div class="col-md-2" style="position: absolute; top: 275px; left: 60px; z-index: 10; width: 200px;">
            <div class="sticky-top">
                <!-- Botón para abrir el menú de filtros -->
                <div class="dropdown filter-dropdown mb-4">
                    <button class="btn btn-secondary dropdown-toggle rounded-pill w-100" type="button"
                        id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false"
                        style="background-color: #304a6e; color: white;">
                        Filtrar
                    </button>
                    <!-- Formulario de filtros dentro del menú desplegable -->
                    <form method="GET" action="{% url 'buscar_alojamientos' %}" class="dropdown-menu p-4"
                        aria-labelledby="filterDropdown" style="width: 100%;">
                        <div class="mb-3">
                            <label for="ubicacion" class="form-label">Ubicación:</label>
                            <input type="text" id="ubicacion" name="ubicacion" step="0.01" min="0"
                                class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="precio_min" class="form-label">Precio mínimo:</label>
                            <input type="number" id="precio_min" name="precio_min" step="0.01" min="0"
                                class="form-control">
                        </div>

                        <div class="mb-3">
                            <label for="precio_max" class="form-label">Precio máximo:</label>
                            <input type="number" id="precio_max" name="precio_max" step="0.01" min="0"
                                class="form-control">

                        </div>
                        <div class="mb-3">
                            <label for="num_maximo_huespedes" class="form-label">Número de huéspedes:</label>
                            <input type="number" id="num_maximo_huespedes" name="num_maximo_huespedes" step="1" min="0"
                                class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="num_maximo_habitaciones" class="form-label">Número de habitaciones:</label>
                            <input type="number" id="num_maximo_habitaciones" name="num_maximo_habitaciones" step="1" min="0"
                                class="form-control">
                        </div>
                        <input type="hidden" name="query" value="{{ query }}">
                        <!-- Botón "Aplicar Filtros" para enviar el formulario -->
                        <button type="submit" class="btn btn-primary w-100">Aplicar Filtros</button>
                    </form>
                </div>

                <!-- Botón para quitar filtros -->
                <a href="{% url 'buscar_alojamientos' %}?query={{ query }}" class="btn btn-outline-secondary w-100">
                    Quitar Filtros
                </a>
            </div>
        </div>
        <!-- Lista de propiedades centrada -->
    </div>
</div>

{% endblock %}