{% extends "base.html" %}

{% block title %}Inicio - Escapadas a tu medida{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Columna izquierda para el botón y filtros -->
        <div class="col-md-2" style="position: absolute; top: 525px; left: 60px; z-index: 10; width: 200px;">
            <div class="sticky-top">
                <!-- Botón para abrir el menú de filtros -->
                <div class="dropdown filter-dropdown mb-4">
                    <button class="btn btn-secondary dropdown-toggle rounded-pill w-100" type="button"
                        id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false"
                        style="background-color: #304a6e; color: white;">
                        Filtrar
                    </button>
                    <!-- Formulario de filtros dentro del menú desplegable -->
                    <form method="GET" action="{% url 'home' %}" class="dropdown-menu p-4"
                        aria-labelledby="filterDropdown" style="width: 100%;">
                        <div class="mb-3">
                            <label for="ubicacion" class="form-label">Ubicación:</label>
                            <input type="text" id="ubicacion" name="ubicacion" step="0.01" min="0" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="precio_min" class="form-label">Precio mínimo:</label>
                            <input type="number" id="precio_min" name="precio_min" step="0.01" min="0"
                                class="form-control">
                        </div>

                        <div class="mb-3">
                            <label for="precio_max" class="form-label">Precio máximo:</label>
                            <input type="number" id="precio_max" name="precio_max" step="0.01" min="0"
                                class="form-control">

                        </div>
                        <div class="mb-3">
                            <label for="num_maximo_huespedes" class="form-label">Número de huéspedes:</label>
                            <input type="number" id="num_maximo_huespedes" name="num_maximo_huespedes" step="1"
                                min="0" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="num_maximo_habitaciones" class="form-label">Número de habitaciones:</label>
                            <input type="number" id="num_maximo_habitaciones" name="num_maximo_habitaciones" step="1"
                                min="0" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label for="valoracion_minima" class="form-label">Valoración mínima:</label>
                            <select id="valoracion_minima" name="valoracion_minima" class="form-control">
                                <option value="">Seleccione valoración mínima</option>
                                <option value="1">1 Estrella</option>
                                <option value="2">2 Estrellas</option>
                                <option value="3">3 Estrellas</option>
                                <option value="4">4 Estrellas</option>
                                <option value="5">5 Estrellas</option>
                            </select>
                        </div>
                    
                        <!-- Filtro por tipo de propiedad -->
                        <div class="mb-3">
                            <label for="tipo" class="form-label">Tipo de propiedad:</label>
                            <select id="tipo" name="tipo" class="form-control">
                                <option value="">Seleccione tipo de propiedad</option>
                                <option value="apartamento">Apartamento</option>
                                <option value="casa">Casa</option>
                                <option value="habitacion">Habitación</option>
                                <option value="villa">Villa</option>
                                <option value="estudio">Estudio</option>
                                <option value="loft">Loft</option>
                                <option value="bungalow">Bungalow</option>
                                <option value="cabaña">Cabaña</option>
                                <option value="castillo">Castillo</option>
                                <option value="caravana">Caravana</option>
                                <option value="barco">Barco</option>
                                <option value="iglú">Iglú</option>
                                <option value="finca">Finca</option>
                                <option value="chalet">Chalet</option>
                                <option value="casa_rural">Casa Rural</option>
                                <option value="residencia_universitaria">Residencia Universitaria</option>
                                <option value="penthouse">Penthouse</option>
                                <option value="granja">Granja</option>
                                <option value="hostal">Hostal</option>
                                <option value="hotel">Hotel</option>
                                <option value="camping">Camping</option>
                                <option value="resort">Resort</option>
                                <option value="tienda_de_campaña">Tienda de Campaña</option>
                                <option value="casa_flotante">Casa Flotante</option>
                                <option value="casa_en_arbol">Casa en Árbol</option>
                                <option value="domo">Domo</option>
                                <option value="yurta">Yurta</option>
                                <option value="container">Container</option>
                                <option value="apartamento_estudio">Apartamento Estudio</option>
                                <option value="aparthotel">Aparthotel</option>
                            </select>
                        </div>
                        
                        <!-- Botón "Aplicar Filtros" para enviar el formulario -->
                        <button type="submit" class="btn btn-primary w-100">Aplicar Filtros</button>
                    </form>
                </div>
                <!-- Botón para quitar filtros -->
                <a href="{% url 'home' %}" class="btn btn-outline-secondary w-100">Quitar Filtros</a>
            </div>
        </div>

        <!-- Lista de propiedades -->
        <div class="col-md-10" style="margin-left: auto; margin-right: auto;">
            <div class="result-list text-center mt-4">
                {% if resultados %}
                <div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-left">
                    {% for resultado in resultados %}
                    <div class="col d-flex align-items-stretch">
                        <a href="{% url 'mostrar_propiedad' resultado.propiedad.id %}"
                            class="text-decoration-none text-dark w-100">
                            <div class="card h-100 mb-4">
                                <div class="position-relative">
                                    <!-- Imagen de la propiedad -->
                                    {% if resultado.propiedad.imagenes.first.imagen.url %}
                                    <img src="{{ resultado.propiedad.imagenes.first.imagen }}" class="card-img-top"
                                        alt="{{ resultado.propiedad.titulo }}"
                                        style="height: 200px; object-fit: cover;">
                                    {% endif %}
                                    <!-- Badge -->
                                    <span
                                        class="badge rounded-pill bg-warning text-dark fs-6 px-3 py-2 position-absolute top-0 end-0 m-2">
                                        {{ resultado.dias_disponibles }} días disponibles
                                    </span>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">{{ resultado.propiedad.titulo }}</h4>
                                    <p class="card-text text-muted" style="font-size: 0.85rem;">
                                        <i class="fas fa-map-marker-alt me-2"></i>{{ resultado.propiedad.ubicacion }}
                                    </p>
                                    <p class="card-text text-muted" style="font-size: 0.85rem;">
                                        <i class="fas fa-money-bill me-2"></i>{{ resultado.propiedad.precio_por_noche }}
                                        €/noche
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>

                {% else %}
                <p class="text-danger">No se encontraron resultados.</p>
                {% endif %}


            </div>
            {% if messages %}
            <div class="container mt-4">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}