<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cambio Contraseña</title>
</head>
<body>
    <h1>Cambio de Contraseña</h1>
    <p>Ingresa tu correo electrónico para recibir un enlace de cambio de contraseña.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar enlace de cambio</button>
    </form>
    <script>
        // Obtener el parámetro 'email' de la URL
        const urlParams = new URLSearchParams(window.location.search);
        const email = urlParams.get('email');
        
        // Si el email está en la URL, establecerlo en el campo de entrada de correo
        if (email) {
            document.querySelector('input[name="email"]').value = email;
        }
    </script>
</body>
</html>
